@page
@model odeToFood.Pages.Restaurants.ClientRestaurantModel
@{
    ViewData["Title"] = "ClientRestaurant";
}

<h2>ClientRestaurant</h2>

@section Scripts {
    <environment include="Developmen">

    </environment>
    <environment exclude="Developmen">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.18/datatables.min.css" />
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.18/datatables.min.js"></script>
    </environment>

    @* Place in it's own js file *@
    <script>
        $(function () {
            $.ajax("/api/restaurants/", { method: "get" })
                .then(response => {

                })
        })
    </script>
}